{% load static%}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dr.Smile</title>
    <link rel="icon" type="image/png" href="{% static 'img/smile png ico.ico' %}">
    <!-- BOOSTRAP CSS-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <!--CUSTOM CSS-->
    <link rel="stylesheet" href="{% static 'css/main.css'%}">
</head>



<body>
    <header class="header">
        <!--BARRA NAVEGACION-->


        <nav class="navbar navbar-expand-lg navbar-light bg-light ">



            <a class="navbar-brand   " href="{% url 'dr.smile:index'%}">
                <img src="{% static 'img/smile png ico.ico' %}" alt="Inicio" style="width: 40%;">
            </a>


            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


            <div class="collapse navbar-collapse  " id="navbarNavDropdown">
                <ul class="navbar-nav ">
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'dr.smile:nosotros'%}">Nosotros<span class="sr-only">(current)</span></a>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Cursos
        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="{% url 'dr.smile:microsoldadura'%}">Microsoldadura</a>
                            <a class="dropdown-item" href="{% url 'dr.smile:electronica'%}">Electronica</a>
                            <a class="dropdown-item" href="{% url 'dr.smile:drones'%}">Drones</a>
                        </div>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Servicios
        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="{% url 'dr.smile:reballing'%}">Reballing</a>
                            <a class="dropdown-item" href="{% url 'dr.smile:serviciotec'%}">Servicios Tecnicos Electronicos</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'dr.smile:contacto'%}">Contacto</a>
                    </li>

                    <li class="nav-item ">
                        <a class="nav-link" href="{% url 'dr.smile:login'%}">Login</a>
                    </li>

                </ul>
            </div>
            </div>
        </nav>
    </header>

    <main class="main">
        <article class="articulo">
            <div class="container">
                <br><br>
                <img src="{% static 'img/reballing ok.jpg' %}" alt="img no cargada" style="width: 100%;">
                <br><br>
            </div>
            <section class="section">
                <div class="card m-auto" style="width: 75rem;">
                    <div class="card-body">
                        <h5 class="card-title">REBALLING</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Somos expertos en reballing</h6>
                        <p class="card-text">En LCD Chile podrás encontrar Soluciones en Reballing. Dentro de los errores más comunes que necesitan los servicio de reballing son: luz roja o amarilla de tu consola, se apaga y no enciende, tu notebook enciende pero no se ve
                            la imagen. Realizamos Reballing para Notebook, Reballing para Consolas, Reballing para Smartphones. Contamos con Maquinas de Reballing de última generación.</p>
                        <h5 class="card-title">¿POR QUÉ OCURREN ESTOS ERRORES?</h5>
                        <p class="card-text">Lo más probable es que el procesador, la tarjeta gráfica, la placa madre de tu consola, notebook o smartphone le falte plomo en su soldadura. A este proceso de reparación de la soldadura lo llamamos “Rework” o mejor conocido como
                            Reballing. Nuestros especialistas se capacitan constantemente para poder brindar un servicio de calidad.</p>
                        <h5 class="card-title">¿POR QUÉ ELEGIR NUESTRO SERVICIO DE REBALLING?
                        </h5>
                        <p class="card-text">Para nosotros es muy importante brindar un servicio de calidad y profesional. En este sentido la mayoría de los productos y servicios que ofrecemos cuentan con garantía y son manipulados e instalados por un personal capacitado
                            y con las herramientas necesarias. Nuestro Servicio Reballing hace la diferencia. Servicios de Reballing:</p>
                        <ul class="card-text">
                            <div class="li">* Reballing para Smartphones</div>
                            <div class="li">* Reballing para Notebook</div>
                            <div class="li">* Reballing para Consolas</div>
                        </ul>
                    </div>
                </div>
                <br><br>
            </section>
        </article>

        <footer id="footer" class="container py-5">
            <div class="row">
                <div class="col-12 col-md">
                    <img src="{% static 'img/smile png ico.ico' %}" alt="Logo no disponible" style="width: 30%;">
                    <small class="d-block mb-3 text-muted">&copy; 2017-2020</small>
                </div>
                <div class="col-6 col-md">
                    <h5>Cacacteristicas</h5>
                    <ul class="list-unstyled text-small">
                        <li><a class="text-muted" href="#">Cosas interesantes</a></li>
                        <li><a class="text-muted" href="#">Característica aleatoria</a></li>
                        <li><a class="text-muted" href="#">Característica de equipo</a></li>
                        <li><a class="text-muted" href="#">Cosas para
                desarrolladores</a></li>
                        <li><a class="text-muted" href="#">Otro</a></li>
                        <li><a class="text-muted" href="#">Ultima vez</a></li>
                    </ul>
                </div>
                <div class="col-6 col-md">
                    <h5>Recursos</h5>
                    <ul class="list-unstyled text-small">
                        <li><a class="text-muted" href="#">Recurso</a></li>
                        <li><a class="text-muted" href="#">Nombre del recurso
              </a></li>
                        <li><a class="text-muted" href="#">Otro recurso</a></li>
                        <li><a class="text-muted" href="#">Recurso final</a></li>
                    </ul>
                </div>
                <div class="col-6 col-md">
                    <h5>Recursos</h5>
                    <ul class="list-unstyled text-small">
                        <li><a class="text-muted" href="#">Negocio</a></li>
                        <li><a class="text-muted" href="#">Educación</a></li>
                        <li><a class="text-muted" href="#">Gobierno</a></li>
                        <li><a class="text-muted" href="#">Juego</a></li>
                    </ul>
                </div>
                <div class="col-6 col-md">
                    <h5>Acerca de</h5>
                    <ul class="list-unstyled text-small">
                        <li><a class="text-muted" href="#">Equipo</a></li>
                        <li><a class="text-muted" href="#">Ubicaciones</a></li>
                        <li><a class="text-muted" href="#">Privacidad</a></li>
                        <li><a class="text-muted" href="#">Condiciones</a></li>
                    </ul>
                </div>
            </div>
        </footer>
    </main>


    <!-- BOOSTRAP JAVASCRIPT-->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script>
        window.jQuery || document.write('<script src="../assets/js/vendor/jquery.slim.min.js"><\/script>')
    </script>
    <script src="../assets/dist/js/bootstrap.bundle.min.js"></script>

</body>

</html>