{% load static%}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dr.Smile</title>
    <link rel="icon" type="image/png" href="{% static 'img/smile png ico.ico' %}">
    <!-- BOOSTRAP CSS-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <!--CUSTOM CSS-->
    <link rel="stylesheet" href="{% static 'css/main.css'%}">
    <!--Validator.org-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.js"></script>
    <script src="js/validarRut.js"></script>
    <!--<script src="js/Validaciones.js"> </script>-->
</head>


<body>
    <header class="header">
        <!--BARRA NAVEGACION-->


        <nav class="navbar navbar-expand-lg navbar-light bg-light ">



            <a class="navbar-brand   " href="{% url 'dr.smile:index'%}">
                <img src="{% static 'img/smile png ico.ico' %}" alt="Inicio" style="width: 40%;">
            </a>


            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>


            <div class="collapse navbar-collapse  " id="navbarNavDropdown">
                <ul class="navbar-nav ">
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'dr.smile:nosotros'%}">Nosotros<span class="sr-only">(current)</span></a>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Cursos
            </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="{% url 'dr.smile:microsoldadura'%}">Microsoldadura</a>
                            <a class="dropdown-item" href="{% url 'dr.smile:electronica'%}">Electronica</a>
                            <a class="dropdown-item" href="{% url 'dr.smile:drones'%}">Drones</a>
                        </div>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Servicios
            </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="{% url 'dr.smile:reballing'%}">Reballing</a>
                            <a class="dropdown-item" href="{% url 'dr.smile:serviciotec'%}">Servicios Tecnicos Electronicos</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'dr.smile:contacto'%}">Contacto</a>
                    </li>

                    <li class="nav-item ">
                        <a class="nav-link" href="{% url 'dr.smile:login'%}">Login</a>
                    </li>

                </ul>
            </div>
            </div>
        </nav>
    </header>

    <main class="main text-center">
        <article class="articulo">
            <br><br>
            <div class="card m-auto" style="width: 75rem;">
                <div class="card-body">
                    <form id="form1" action="#" method="post" class="needs-validation">
                        <div class=" form-row ">
                            <div class="container">
                                <br><br>
                                <h1 class="h3 mb-3 font-weight-normal">Registro Usuarios</h1><br>
                                <div class="col-md-12 ">
                                    <input name="nombre" type="text" class="form-control" id="nombre" placeholder=" Nombre" required oninput="checkNombre(this)" value="" required>
                                    <div class="valid-feedback">¡Ok válido, Nombre ingresado! </div>
                                    <div id="mensajeNombre" class="invalid-feedback">Ingrese su Nombre.</div>
                                    <br>
                                </div>
                                <div class="col-md-12 ">
                                    <input name="apellido" type="text" class="form-control" id="apellido" placeholder="Apellido" value="" required>
                                    <div class="valid-feedback">¡Ok válido, Apellido ingresado!</div>
                                    <div id="mensajeApellido" class="invalid-feedback">Ingrese su Apellido.</div>
                                    <br>
                                </div>
                                <div class="col-md-12">
                                    <input name="rut" type="text" class="form-control" id="rut" required oninput="checkRut(this)" placeholder="Rut" value="" required>
                                    <div class="valid-feedback">¡Ok válido, Rut ingresado!</div>
                                    <div id="mensajeRut" class="invalid-feedback">Ingrese su Rut.</div>
                                    <br>
                                </div>
                                <div class="col-md-12">
                                    <input name="email" type="email" class="form-control" id="email" required oninput="checkEmail(this)" placeholder="Email" value="" required>
                                    <div class="valid-feedback">¡Ok válido, Email ingresado!</div>
                                    <div id="mensajeEmail" class="invalid-feedback">Ingrese su Email.</div>
                                    <br>
                                </div>
                                <div class="col-md-12">
                                    <input name="contrasena" type="password" class="form-control" id="contrasena" placeholder="Contraseña" value="" required>
                                    <div class="valid-feedback">¡Ok válido, Contraseña ingresada!</div>
                                    <div id="mensajeContrasena" class="invalid-feedback">Ingrese su Contraseña.</div>
                                    <br>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" name="invalidCheck" id="invalidCheck" required>
                                <label class="form-check-label" for="invalidCheck">Acepto términos y condiciones</label>
                                <div class="valid-feedback">¡Aceptado!</div>
                            </div>
                        </div>
                        <br><br>
                        <button id="botonEnviar" class="btn btn-primary" type="submit">Registrar</button>
                        <br><br><br><br><br>
                    </form>
                </div>

            </div>

        </article>

        <footer id="footer" class="container py-5">
            <div class="row">
                <div class="col-12 col-md">
                    <img src="{% static 'img/smile png ico.ico' %}" alt="Logo no disponible" style="width: 30%;">
                    <small class="d-block mb-3 text-muted">&copy; 2017-2020</small>
                </div>
                <div class="col-6 col-md">
                    <h5>Cacacteristicas</h5>
                    <ul class="list-unstyled text-small">
                        <li><a class="text-muted" href="#">Cosas interesantes</a></li>
                        <li><a class="text-muted" href="#">Característica aleatoria</a></li>
                        <li><a class="text-muted" href="#">Característica de equipo</a></li>
                        <li><a class="text-muted" href="#">Cosas para
                                desarrolladores</a></li>
                        <li><a class="text-muted" href="#">Otro</a></li>
                        <li><a class="text-muted" href="#">Ultima vez</a></li>
                    </ul>
                </div>
                <div class="col-6 col-md">
                    <h5>Recursos</h5>
                    <ul class="list-unstyled text-small">
                        <li><a class="text-muted" href="#">Recurso</a></li>
                        <li><a class="text-muted" href="#">Nombre del recurso
                            </a></li>
                        <li><a class="text-muted" href="#">Otro recurso</a></li>
                        <li><a class="text-muted" href="#">Recurso final</a></li>
                    </ul>
                </div>
                <div class="col-6 col-md">
                    <h5>Recursos</h5>
                    <ul class="list-unstyled text-small">
                        <li><a class="text-muted" href="#">Negocio</a></li>
                        <li><a class="text-muted" href="#">Educación</a></li>
                        <li><a class="text-muted" href="#">Gobierno</a></li>
                        <li><a class="text-muted" href="#">Juego</a></li>
                    </ul>
                </div>
                <div class="col-6 col-md">
                    <h5>Acerca de</h5>
                    <ul class="list-unstyled text-small">
                        <li><a class="text-muted" href="#">Equipo</a></li>
                        <li><a class="text-muted" href="#">Ubicaciones</a></li>
                        <li><a class="text-muted" href="#">Privacidad</a></li>
                        <li><a class="text-muted" href="#">Condiciones</a></li>
                    </ul>
                </div>
            </div>
        </footer>
    </main>

    <!-- BOOSTRAP JAVASCRIPT-->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script>
        window.jQuery || document.write('<script src="../assets/js/vendor/jquery.slim.min.js"><\/script>')
    </script>
    <script src="../assets/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/ jquery-validation@1.19.2 /dist/jquery.validate.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/ jquery-validation@1.19.2 /dist/jquery.validate.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/ jquery-validation@1.19.2 /dist/additional-methods.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/ jquery-validation@1.19.2 /dist/additional-methods.min.js"></script>
</body>

</html>